* {
    box-sizing: border-box;
    margin: 0;
}

/*

:root {
    difiner variable
    google css variable
}
*/

img {
    max-width: 100%;
    display: block;
}

/* Splash */
#splash {
    background-image: url(img/splash2_copy2.jpg);
    object-fit: contain;
    width: 100vw;
    height: 20vw;
    background-position: 0% 63%;
    position: relative;
}

.headline {
    color: aliceblue;
    font-size: 9vw;
    position: absolute;
    bottom: 0;
}

/* Sub-headline-header-wrapper, sub-headline */
.sub-headline-header-wrapper-background {
    background-color: #fcf6ef;
    /*    width: 100vw;*/
}

.sub-headline-header-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px 50px;
}

.sub-headline {
    font-size: 3vw;

}

/* Udvælgelsesknapper */
.header-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    max-width: 1200px;
    margin: 0 auto;
    padding: 7px 50px;
}

.header-wrapper-p .filter {
    /*    width: 100%;*/
    font-size: 3.2vw;
}

@media (min-width: 600px) {
    header {
        grid-template-columns: repeat(6, 1fr);
    }

    .filter {
        /*    width: 100%;*/
        font-size: 1.7vw;
    }
}

@media (min-width: 900px) {

    .filter {
        /*    width: 100%;*/
        font-size: 1.2vw;
    }

    .header-wrapper-p {
        font-size: 1.2vw;
    }
}

/* Template style */
.data-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 50px;
    justify-content: center;
    padding: 50px;

    max-width: 1200px;
    margin: 0 auto;
}

/* Dish style */
.dish {
    border-radius: 8px;
    border: 1px solid grey;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.03);
}

.dish-image {
    border-radius: 6px;
}

.dish-category {
    padding: 5px 0 0 0;
    font-style: italic;
}

.dish-price {
    padding: 10px 0 0 0;
    font-weight: 800;
}

/* Pop up style */
.pop-up-dish-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

.pop-up-dish {
    width: 80vw;
    height: 80vh;
    margin: 4rem auto;
    background-color: aliceblue;
    overflow-y: scroll;
    position: relative;
}

.pop-up-close-button {
    position: absolute;
    top: 0;
    right: 1em;
    background-color: aliceblue;
    color: black;
    border-radius: 5px;
    padding: .1em;
}
